.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family:Inter,sans-serif;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #21222A;
  height: 90px;
  padding: 30px 25px;
}

nav >h3,nav>h4{
  margin: 0;
}
nav >h3{
  margin-right: auto;
  color: #61DAFB;
  font-weight: 700;
  font-size: 22px;
}
nav>img{
  height:30px;
  margin-right:7px;
}
.nav-logo {
  width: 60px;
}

.nav-items {
  list-style: none;
  display:flex;
  
}
.nav-items > li {
  padding: 10px;
}
.nav--icon {
  height: 30px;
  margin-right: 7px;
}