* {
   
    box-sizing:border-box;
}

body { 
    margin: 0;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #aaaaaa;
}
main {
    padding:15px;
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
div.top {
    display: flex;
    justify-content: space-between;
}
h1.time {
    text-align: center;
}
div#crypto {
    font-size: 1.3rem;
}
div#crypto-top {
    display: flex;
    align-items: center;
}
div#crypto-top > span {
    margin-left: 10px;
}
div#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    }

    div#weather > img {
        width: 70px;
    }

    p.weather-city {
        width: 100%;
        text-align:right;
        margin:0;
    }